.details {
    padding: 40px 6vw;
    background-color: #E5DFDA;
    display: flex;
    flex-direction: column;
    color: black;

    &-back {
        color: black;
        text-decoration: none;
        transition: .5s;
        cursor: pointer;

        img {
            transform: rotate(180deg);
            width: 35px;
            margin-right: 20px;
        }
    }

    &-back:hover {
        transform: translate(-5px, 0)
    }

    .details-content {
        margin: 20px 3vw 0 3vw;
        display: flex;
        flex-direction: row;
        gap: 3vw;

        .details-slider {
            .photo-slider {
                display: flex;
                flex-direction: row;
                gap: 1vw;
            }

            .photo-panel {
                display: flex;
                flex-direction: row;
                gap: 0.5vw;
                margin-top: 1vw;

                img {
                    width: 5vw;
                    height: 7vw;
                    object-fit: cover;
                }
            }
        }

        .details-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1vh;

            h1 {
                font-size: 180%;
                font-weight: 600;
                font-family: 'Spectral', serif;
            }

            h2 {
                font-size: 120%;
                font-weight: 400;
            }

            .in-bag {
                background-color: black;
                color: white;
                border: none;
                border-radius: 20px;
                width: 60%;
                padding: 0.5vh 0;
                transition: .3s;
                font-size: 100%;
                cursor: pointer;
            }

            .in-bag:hover {
                background-color: rgb(44, 44, 44);
            }

            .in-stars {
                background: none;
                color: white;
                border: none;
                border-radius: 30px;
                transition: .3s;
                width: 40px;
                height: 40px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                img {
                    width: 35px;
                    transition: .3s;
                }

                img:hover {
                    filter: invert(0.2);
                }
            }

            .dop-info {
                margin-top: 3vh;

                p {
                    b {
                        margin-left: 0.5vw;
                        padding: 0.2vh 0.3vw;
                        font-weight: 500;
                    }
                }
            }
        }

    }
}