.main-page {
	background-image: url(../../../assets/img/DSC04992.jpg);
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10%;
	color: white;
	padding-top: 20vh;
	font-family: 'Montserrat', sans-serif;

	p {
		margin-top: 5vh;
		width: 50vw;
		font-weight: 300;
		line-height: 32px;
		font-size: 110%;
	}

	button {
		margin-top: 15vh;
		background: none;
		border: 1px solid white;
		color: white;
		padding: 12px 30px;
		border-radius: 10px;
		font-size: 110%;
		font-weight: 400;
		transition: .3s;
	}

	button:hover {
		background-color: white;
		color: black;
	}
}
